.App-Item-List-Container{
    background-color: #161616;
    background: url("https://wallpapercave.com/wp/wp2633637.png");
    padding-top: 30px;
    width: 100%;
    min-height: 60vh;
}

.App-Item-List-Container-Title{
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
}