*{
  margin:0;
  padding:0;
  border:none;
  box-sizing: border-box;
  outline:none;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  text-decoration: none;
  list-style: none;
}

.Card-mock{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}